In [1]:
import numpy as np
import pandas as pd

In [2]:
csv = pd.read_csv('/gpfs/bbp.cscs.ch/project/proj83/circuits/Bio_M/20200805/projections/2021_02_12/fibers/vpm_flatmap_based/s1fl.csv')

In [3]:
csv

                 x            y            z         u         v         w
0      3170.040975  -718.923467 -3404.477560  0.558549 -0.167255  0.812434
1      2423.970317   -99.791927 -2942.283865  0.376158 -0.064978  0.924274
2      2740.991597  1425.401486 -2990.775382  0.366253 -0.165757  0.915633
3      2719.696045  -987.083225 -3188.524790  0.426951 -0.125271  0.895556
4      3427.262087   -55.977742 -3412.224571  0.596150 -0.084484  0.798416
...            ...          ...          ...       ...       ...       ...
25556  2539.659881 -1338.425462 -3147.724973  0.353557 -0.078610  0.932104
25557  2376.843734  -923.032287 -3038.241504  0.366927 -0.119376  0.922559
25558  2364.289881 -1625.119212 -3082.502473  0.353557 -0.078610  0.932104
25559  2788.798053 -1650.214003 -3247.571612  0.505501 -0.064285  0.860428
25560  3269.878627   543.366403 -3262.515379  0.528909 -0.019314  0.848459

[25561 rows x 6 columns]

In [4]:
nodes = csv.index

In [15]:
nodes = np.array(nodes)

In [26]:
tsv = pd.read_csv('/gpfs/bbp.cscs.ch/data/scratch/proj83/home/bolanos/circuits/Bio_M/20200805/virtual_fibers_gen/original_run/allfibers_VPM_gid_fx_fy.tsv',delimiter='\t',index_col=0,header=None)

In [27]:
tsvNodes = np.array(tsv.index)

In [28]:
np.isin(nodes,tsvNodes-5000000)

array([ True,  True,  True, ..., False, False, False])

In [52]:
len(np.where(~np.isin(nodes,tsvNodes-5060000))[0])/len(nodes)

0.0

In [30]:
tsv

                1         2
0
5000000  0.470502  0.055593
5000001  0.417715  0.144085
5000002  0.151167  0.780593
5000003  0.469923  0.045310
5000004  0.482959  0.088045
...           ...       ...
5239696  0.818343  0.712053
5239697  0.894107  0.460037
5239698  0.529758  0.571618
5239699  0.419869  0.659637
5239700  0.934593  0.350080

[100000 rows x 2 columns]